body {
    background-color: rgb(214, 184, 160);
    margin: 0px;
}

#nome {
    background-color: rgb(150, 74, 84);
    height: 150px;
    display: flex;
    font-family: 'Dancing Script', cursive;  
    font-size: 90px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
}

#foto {
    margin-left: 10px;
    height: 80px;
    height: 80px;
    border-radius: 80;
}